.navbar {
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-talk-btn {
    background-color: #560FB8;
    color: #fff;
    width: 108px;
    font-size: 13px;
    border-radius: 25px;
    padding-top: 6px;
}
.header-talk-btn:hover {
    border: 1px solid #560FB8;
}
.pencilIcon {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    padding: 2px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    margin-top: 2px;
} 

.pencilIcon:hover {
    background-color: #560FB8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #560FB8;
    color: #fff;
    border-radius: 8px;
}
  
  